In [2]:
import spacy

In [3]:
nlp = spacy.load('en_core_web_sm')

In [4]:
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [5]:
doc = nlp('Tesla Inc is going to acquire twitter for 45$ billion')

In [6]:
for ent in doc.ents:
    print(ent.text,' | ', ent.label_)

Tesla Inc  |  ORG
45$ billion  |  MONEY

In [7]:
for ent in doc.ents:
    print(ent.text,' | ', ent.label_, ' | ', spacy.explain(ent.label_))

Tesla Inc  |  ORG  |  Companies, agencies, institutions, etc.
45$ billion  |  MONEY  |  Monetary values, including unit

In [8]:
from spacy import displacy

displacy.render(doc, style = 'ent')

In [9]:
doc = nlp('Tesla Inc is going to acquire Twitter Inc for 45$ billion')

In [10]:
for ent in doc.ents:
    print(ent.text,' | ', ent.label_, ' | ', spacy.explain(ent.label_))

Tesla Inc  |  ORG  |  Companies, agencies, institutions, etc.
Twitter Inc  |  ORG  |  Companies, agencies, institutions, etc.
45$ billion  |  MONEY  |  Monetary values, including unit

In [11]:
from spacy import displacy

displacy.render(doc, style = 'ent')

In [12]:
nlp.pipe_labels['ner']

['CARDINAL',
 'DATE',
 'EVENT',
 'FAC',
 'GPE',
 'LANGUAGE',
 'LAW',
 'LOC',
 'MONEY',
 'NORP',
 'ORDINAL',
 'ORG',
 'PERCENT',
 'PERSON',
 'PRODUCT',
 'QUANTITY',
 'TIME',
 'WORK_OF_ART']

In [13]:
doc = nlp('Michael Bloomberg founder Bloomberg Inc in 1982')

for ent in doc.ents:
    print(ent.text,' | ', ent.label_, ' | ', spacy.explain(ent.label_))

Michael Bloomberg  |  PERSON  |  People, including fictional
Bloomberg Inc  |  PERSON  |  People, including fictional
1982  |  DATE  |  Absolute or relative dates or periods

In [14]:
doc = nlp('Tesla is going to acquire Twitter for 45$ billion')

for ent in doc.ents:
    print(ent.text,' | ', ent.label_)

Tesla  |  ORG
Twitter  |  PRODUCT
45$ billion  |  MONEY

In [15]:
doc[0]

Tesla

In [16]:
type(doc[2:5])

spacy.tokens.span.Span

In [19]:
from spacy.tokens import Span

s1 = Span(doc, 0, 1, label = 'ORG')    # from 0-1 which is Tesla
s2 = Span(doc, 5, 6, label = 'ORG')

doc.set_ents([s1, s2], default = 'unmodified')

In [20]:
for ent in doc.ents:
    print(ent.text, ' | ', ent.label_)

Tesla  |  ORG
Twitter  |  ORG
45$ billion  |  MONEY

#### spacy provides a class for making our own entity recognizer called EntityRuler

In [22]:
text = """Kiran want to know the famous foods in each state of India. So, he opened Google and search for this question. Google showed that
in Delhi it is Chaat, in Gujarat it is Dal Dhokli, in Tamilnadu it is Pongal, in Andhrapradesh it is Biryani, in Assam it is Papaya Khar,
in Bihar it is Litti Chowkha and so on for all other states"""

doc = nlp(text)

In [23]:
# Extract all the Geographical (cities, Countries, states) names from a given text

In [28]:
places = []
for ent in doc.ents:
    if ent.label_ == 'GPE':
        places.append(ent)
        
places

[India, Delhi, Gujarat, Tamilnadu, Pongal, Andhrapradesh, Assam, Bihar]

In [30]:
text = """Sachin Tendulkar was born on 24 April 1973, Virat Kholi was born on 5 November 1988, Dhoni was born on 7 July 1981
and finally Ricky ponting was born on 19 December 1974."""

doc = nlp(text)

#Extract all the birth dates of cricketers in the given Text

In [34]:
birth_date = []

for ent in doc.ents:
    if ent.label_ == 'DATE':
        birth_date.append(ent)
        
birth_date

[24 April 1973, 5 November 1988, 7 July 1981, 19 December 1974]