In [83]:
import pandas as pd
import numpy as np

In [84]:
df = pd.read_csv(r'C:\DS practice\titanic.csv')

In [85]:
df = df[['Pclass','Sex','Age','Fare','Survived']]

In [86]:
df

     Pclass     Sex   Age     Fare  Survived
0         3    male  22.0   7.2500         0
1         1  female  38.0  71.2833         1
2         3  female  26.0   7.9250         1
3         1  female  35.0  53.1000         1
4         3    male  35.0   8.0500         0
..      ...     ...   ...      ...       ...
886       2    male  27.0  13.0000         0
887       1  female  19.0  30.0000         1
888       3  female   NaN  23.4500         0
889       1    male  26.0  30.0000         1
890       3    male  32.0   7.7500         0

[891 rows x 5 columns]

In [87]:
from sklearn.preprocessing import LabelEncoder

In [88]:
le = LabelEncoder()

In [89]:
df.Sex = le.fit_transform(df.Sex)

In [90]:
df

     Pclass  Sex   Age     Fare  Survived
0         3    1  22.0   7.2500         0
1         1    0  38.0  71.2833         1
2         3    0  26.0   7.9250         1
3         1    0  35.0  53.1000         1
4         3    1  35.0   8.0500         0
..      ...  ...   ...      ...       ...
886       2    1  27.0  13.0000         0
887       1    0  19.0  30.0000         1
888       3    0   NaN  23.4500         0
889       1    1  26.0  30.0000         1
890       3    1  32.0   7.7500         0

[891 rows x 5 columns]

In [103]:
df.Age = df.Age.fillna(df.Age.mean())
df[['Age']]

           Age
0    22.000000
1    38.000000
2    26.000000
3    35.000000
4    35.000000
..         ...
886  27.000000
887  19.000000
888  29.699118
889  26.000000
890  32.000000

[891 rows x 1 columns]

In [109]:
X = df[['Pclass','Sex','Age','Fare']].values

In [110]:
y = df['Survived']

In [111]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y, train_size = 0.8)

In [128]:
X_train = np.array(X_train)
X_test = np.array(X_test)
y_train = np.array(y_train)
y_test = np.array(y_test)

In [129]:
from sklearn import tree

In [130]:
model = tree.DecisionTreeClassifier()

In [131]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [134]:
model.predict([[X_train,y_train]])

ValueError: setting an array element with a sequence. The requested array has an inhomogeneous shape after 3 dimensions. The detected shape was (1, 2, 712) + inhomogeneous part.

In [135]:
model.score(X_train,y_train)

0.9845505617977528